<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 1.0.0
    </div>
    <strong>SME - Small Medium Enterprise &copy; 2019 - Electronic Store Edition </strong>
</footer>